@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


//resety i baza


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    @include flex-center(column, nowrap);
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
}

main {
    margin-bottom: 5rem;
}

